{% block content %}
<div class="flex flex-row justify-between w-full bg-blue-400 py-4 px-5">
    <button class="transition duration-500 hover:bg-blue-500" onclick="document.querySelector('#menu').classList.toggle('hidden');document.querySelector('#menu_icon').classList.toggle('rotate-90');">
        <svg id="menu_icon" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M9 8h10M9 12h10M9 16h10M4.99 8H5m-.02 4h.01m0 4H5" />
        </svg>
    </button>
    <h1 class="font-bold text-center text-2xl  text-white w-full">圖書記錄系統{% if name %} - {% endif %}{{ name }}</h1>
</div>
<div class="z-0 hidden w-full my-2" id="menu">
        <div class="flex flex-col gap-2 items-center">
            <button
                class="btn bg-red-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
                <a href="./">
                    <div>首頁</div>
                </a>
            </button>
            <button
                class="btn bg-green-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
                <a href="./scan">
                    <div>紀錄出入</div>
                </a>
            </button>
            <button class="btn bg-blue-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
                <a href="./query" class="button b wt">
                    <div>紀錄查詢</div>
                </a>
            </button>
            <button
                class="btn bg-green-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
                <a href="./register" class="button g wt">
                    <div>登錄圖書</div>
                </a>
            </button>
            <button
                class="btn bg-yellow-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
                <a href="#" class="button y bt">
                    <div>編輯紀錄</div>
                </a>
            </button>
        </div>
    </div>
{% endblock %}