{% extends 'base.html' %}
{% block content %}
<h1 class="ml-auto mr-auto font-bold text-center text-5xl bg-blue-400 py-5 text-white">{{ lang["title"] }}</h1>
<div class="list-none px-5 w-full flex flex-col gap-5 my-5">
    <button class="btn bg-green-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
        <a href="./scan" >
            <div>{{ lang["record_borrow_n_return"] }}</div>
        </a>
    </button>
    <button class="btn bg-blue-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
        <a href="./query" class="button b wt">
            <div>{{ lang["record_query"] }}</div>
        </a>
    </button>
    <button class="btn bg-fuchsia-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
        <a href="./register" class="button g wt">
            <div>{{ lang["register_book"] }}</div>
        </a>
    </button>
    <button class="btn bg-yellow-300 text-black text-center font-bold py-5 px-4 h-1/4 w-full rounded-xl text-4xl">
        <a href="./edit" class="button y bt">
            <div>{{ lang["edit_record"] }}</div>
        </a>
    </button>
</div>
{% endblock %}